body {
    color: rgb(109, 109, 109);
    background: rgb(255, 255, 255);

    margin: 0;
    padding: 0;
}

#navBar {
    /* background: rgb(77, 77, 77); */
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    background: #5E81AC;
}

#navBarTitle {
    position: relative;
    color: white;
    font-size: 25px;
    padding-left: 20px;
    top: 10%;
}

#navBarRank {
    position: relative;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    top: 20%;
}

#navBarNew {
    position: relative;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    top: 20%;
}

.anime {
    background: #ececec;
    border-radius: 30px;
    display: flex;
    /* align-content: center; */
    align-items: center;
    /* justify-content: center; */
    margin: 40px;
}

.anime_one {
    background: rgb(255, 253, 113);
    border-radius: 30px;
    display: flex;
    /* align-content: center; */
    align-items: center;
    /* justify-content: center; */
    margin: 40px;
}

.anime_two {
    background: rgb(206, 206, 206);
    border-radius: 30px;
    display: flex;
    /* align-content: center; */
    align-items: center;
    /* justify-content: center; */
    margin: 40px;
}
.anime_thr {
    background: rgb(170, 145, 116);
    border-radius: 30px;
    display: flex;
    /* align-content: center; */
    align-items: center;
    /* justify-content: center; */
    margin: 40px;
}

.animeNum {
    color: rgb(34, 34, 34);
    font-size: 30px;
    margin-left: 5%;
}

.animeInfoNum {
    color: rgb(34, 34, 34);
    font-size: 20px;
    margin-left: 20%;
}

.animeImg {
    border-radius: 10px;
    width: auto; height: auto;
    max-width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 4%;
    /* max-height: 100px; */
}

.animeInfoImg {
    /* border-radius: 10px; */
    /* width: auto; height: auto; */
    /* max-width: 120px;  */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 6%;
    font-size: 20px;
    color: rgb(34, 34, 34);
    /* max-height: 100px; */
}

.animeTitle {
    color: rgb(34, 34, 34);
    font-size: 25px;
    width: 250px;
    margin-right: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.animeInfoTitle {
    color: rgb(34, 34, 34);
    font-size: 20px;
    margin-right: 20%;
}

.animeCate {
    color: rgb(34, 34, 34);
    font-size: 20px;
    margin-right: 5%;
}

.animeInfoCate {
    color: rgb(34, 34, 34);
    font-size: 20px;
    margin-right: 10%;
}

.animeDate {
    color: rgb(34, 34, 34);
    font-size: 20px;
}


.info_ {
    /* position: relative; */
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
    /* position: relative;
    top: 50%;
    transform: translateY(50%); */
}

._mainImg {
    /* width: auto; height: auto; */
    max-width: 500px;
    max-height: 450px;
    margin-right: 40px;
}
.infoTtl {
    font-size: 40px;
    font-weight: bold;
}
.infoI {
    font-size: 20px;
    font-weight: border;
    margin-bottom: 20px;
}

.inform_ {
    margin-top: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 100px;
}

._one {
    text-align: center;
    margin: 20px;
    margin-right: 150px;
}

._two {
    text-align: center;
    margin: 20px;
    margin-right: 150px;
}

._thr {
    text-align: center;
    margin: 20px;
    margin-right: 150px;
}
._four {
    text-align: center;
    margin: 20px;
    /* margin-right: 150px; */
}

.crawlling_ {
    /* width: auto; height: auto; */
    max-width: 270px;
    max-height: 270px;
    margin-bottom: 10px;
}

.rankAnimes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 100px;
}
.svgs {
    width: 400px;
    height: 400px;
    margin-right: 100px;
}
.infsTtl {
    font-size: 50px;
    font-weight: bolder;
}
.infs {
    font-size: 25px;
}
.github {
    margin-right: 10px;
    color: white;
}
.portfolio {
    color: white;
}

.endLink {
    display: flex;
    justify-content: center;
}
.name {
    font-size: 40px;
}

.end {
    background: #5E81AC;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px; 
}

.solid {
    background: rgb(182, 182, 182);
    position: relative;
    width: 80%;
    height: 1px;
    left: 50%; transform: translateX(-50%);
    margin-top: 100px;

}

.endImg {
    margin: 20px;
    width: 100px;
    height: 80px;
}


.newA {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.animeNew {
    background: rgb(247, 247, 247);
    margin: 20px;
    border-radius: 10px;
}

.animeNImg {
    margin: 20px;
    border-radius: 10px;
}

.animeNTitle {
    /* display: inline-block; */
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;

}

.animeNDate {
    width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    margin-bottom: 10px;
}