<!DOCTYPE html>

<html>

    <head>

        <title>Annumity</title>

        <!-- 합쳐지고 최소화된 최신 CSS -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="/src/css/style.css" />

    </head>

    <body>

        <nav id="navBar" class="navbar navbar-dark primary-color">
            <a id="navBarTitle" class="navbar-brand" href="/">Annumity</a>

            <div class="nav-item">
                <a id="navBarRank" class="nav-link" href="/rank">RANK</a>
            </div>
        </nav>

        <h1>Annumity Main Page.</h1>

    </body>

</html>
