<!DOCTYPE html>

<html>

    <head>

        <title>Annumity</title>

        <!-- 합쳐지고 최소화된 최신 CSS -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="/src/css/style.css" />

    </head>

    <body>

        <nav id="navBar" class="navbar navbar-dark">
            <a id="navBarTitle" class="navbar-brand" href="/">Annumity</a>

            <div class="nav-item">
                <a id="navBarRank" class="nav-link" href="/rank">RANK</a>
            </div>

            <div class="nav-item">
                <a id="navBarNew" class="nav-link" href="/new">NEW</a>
            </div>

            <!-- <div class="nav-item">
                <a id="navBarRank" class="nav-link" href="/dark">DARK</a>
            </div> -->

            <!-- <div class="nav-item">
            </div> -->
        </nav>

        <div class="info_">

            <img class="_mainImg" src="/src/img/annumityLogoSmple.png">
            <div class="infoText">
                <div class="infoTtl">ANNUMITY</div>
                <div class="infoI">Annumity 는 애니의 인기 순위와 최신 애니 등을<br>쉽고 간편하게 보여줍니다.<br>다른 웹사이트에서 크롤링하여 보여주는 방식을<br>사용합니다.<br><br>Annumity easily and conveniently shows<br>the popularity ranking of animation<br>and the latest anime.<br>It's crawling from other websites.</div>
                <div class="mainBtns">
                    <button type="button" class="btn btn-cyan hoverable" onclick="location.href='/rank'">RANK</button>
                    <button type="button" class="btn btn-cyan hoverable" onclick="location.href='/new'">NEW</button>
                    <!-- <button type="button" class="btn btn-cyan hoverable" onclick="location.href='/rank'">RANK</button> -->
                </div>
            </div>

        </div>

        <div class="solid"></div>

        <!-- <div class="inform_">
            <div class="_one">
                <img class="crawlling_" src="/src/svg/undraw_the_search_s0xf.svg">
                <div class="crawlling__">웹 크롤링을 이용하여<br>개발되었습니다.</div>
            </div>

            <div class="_two">
                <img class="crawlling_" src="/src/svg/undraw_opinion_dxp8.svg">
                <div class="crawlling__">사용자 분들의 피드백을 <br>받아 개발합니다.</div>
            </div>

            <div class="_thr">
                <img class="crawlling_" src="/src/svg/undraw_color_palette_yamk.svg">
                <div class="crawlling__">더 깔끔하고 심플한 디자인을 위해<br>NordTheme 를 사용합니다.</div>
            </div>
            <div class="_four">
                <img class="crawlling_" src="/src/svg/undraw_dark_mode_2xam.svg">
                <div class="crawlling__">다크모드와 화이트모드를<br>모두 지원합니다.</div>
            </div>
        </div>

        <div class="rankAnimes">
            <img class="svgs" src="/src/svg/undraw_Popular_re_mlfe.svg">
            <div>
                <div class="infsTtl">인기순위</div>
                <div class="infs">애니의 인기순위를 보여줍니다.(RANK)</div>
                
            </div>
        </div>

        <div class="rankAnimes">
            <div>
                <div class="infsTtl">최신애니</div>
                <div class="infs">애니를 최신순서대로 보여줍니다.(NEW)</div>
                
            </div>
            <img class="svgs" src="/src/svg/undraw_Newsletter_re_wrob.svg">
        </div> -->


        <div class="end ">
            <img class="endImg" src="/src/img/annumityLogoSmple.png">
            <div>
                <div class="name">DIA</div>
                <div class="endLink">
                    <a class="github" href="https://github.com/dia-7691">Github</a>
                    <a class="portfolio" href="http://dev-dia.me">PortFolio</a>
                </div>
            </div>
        </div>

    </body>

</html>
